/* 기본 스타일 */
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}

/* nav 전체 박스 */
.nav {
  height: 80px;
  background-color: rgb(164, 192, 203);
}

/* 햄버거 아이콘 */
.hamburger-icon {
  display: none;
}
.hamburger-icon svg {
  width: 80px;
  height: 80px;
  fill: #000;
}

/* 메인 내비게이션 */
.main-nav {
  padding: 0;
}
.main-nav li {
  display: inline-block;
  margin: 10px 20px 0;
}
.main-nav li a {
  font-size: 1.7em;
  color: #222;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
.main-nav li a:hover {
  color: rgb(251, 0, 255); /* 핑크 하이라이트 */
}

/* 반응형 사이드 내비게이션 */
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0px;
  overflow: hidden;
  background-color: #000000e6;
  transition: 0.3s all ease-in-out;
}
.side-nav li {
  display: block;
}
.side-nav li a {
  color: #ffffff;
  font-size: 1.5em;
  display: block;
  padding: 20px;
  text-decoration: none;
}

/* 미디어 쿼리: 800px 이하에서 햄버거 메뉴 보이게 */
@media screen and (max-width: 800px) {
  .hamburger-icon {
    display: block;
  }
  .main-nav {
    display: none;
  }
}
